* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #fff;
  font-family: "open san", Arial, Helvetica, sans-serif;
}
.footer-wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}
.footer-top,
.footer-middle,
.footer-bottom,
.social-links {
  margin: 5px 0px;
  padding: 5px 0px;
  border-bottom: solid black 2px;
}

.footer-container-top {
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
}
.footer-container-middle,
.footer-container-bottom {
  display: flex;
  flex-direction: row;
  padding-bottom: 5px;
}
.social-links {
  margin-bottom: 20px;
}
.footer-last {
  text-align: center;
  padding: 5px 0px;
}
.footer-block-top-a {
  font-size: 0.7em;
  margin: 0px 3px;
  padding: 0px 3px;
  opacity: 0.5;
  line-height: 1.6;
}
.footer-block-a {
  width: 25%;
  margin: 2px;
  font-size: 0.9em;
  opacity: 0.6;
}
.link {
  list-style-type: none;
  text-decoration: none;
  padding-bottom: 2px;
  color: black;
}
.social-links-li {
  list-style-type: none;
  text-decoration: none;
  background-color: none;
  color: black;
  opacity: 1;
  margin-bottom: 30px;
  padding: 2px;
}
.heading {
  opacity: 1;
  font-weight: 900;
  color: black;
}
/*Social Links*/
.social-links-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
/*Change icons size here*/
.social-icons .fa {
  font-size: 1.8em;
}
/*Change icons circle size and color here*/
.social-icons .fa {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.social-icons.icon-circle .fa {
  border-radius: 50%;
}
.social-icons.icon-rounded .fa {
  border-radius: 5px;
}
.social-icons.icon-flat .fa {
  border-radius: 0;
}

.social-icons .fa:hover,
.social-icons .fa:active {
  color: #fff;
  -webkit-box-shadow: 1px 1px 3px #333;
  -moz-box-shadow: 1px 1px 3px #333;
  box-shadow: 1px 1px 3px #333;
  opacity: 0.7;
}
.social-icons.icon-zoom .fa:hover,
.social-icons.icon-zoom .fa:active {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.social-icons.icon-rotate .fa:hover,
.social-icons.icon-rotate .fa:active {
  -webkit-transform: scale(1.1) rotate(360deg);
  -moz-transform: scale(1.1) rotate(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  -o-transform: scale(1.1) rotate(360deg);
  transform: scale(1.1) rotate(360deg);
}

.social-icons .fa-twitter {
  background-color: #32ccfe;
}
.social-icons .fa-instagram {
  background-color: #f10619;
}
.social-icons .fa-facebook {
  background-color: #3c599f;
}
/* .social-icons .fa-youtube {
  background-color: #c52f30;
} */
.social-icons .fa-phone {
  background-color: green;
}
.social-icons .fa-map-marker {
  background-color: grey;
}
@media (max-width: 786px) {
  .footer-wrapper {
    width: 95%;
  }
}
